{{ define "content" }}
{{.welcome}}
<form action="/bw/croom" method="post">
  <select name="game-type">
    <option value="1">Single player</option>
    <option value="2">Multi player</option>
  </select>
  <label for="bots">Select Bots:</label>
  <select id="bots" name="bots[]" multiple>
    <option value="10 sec">10 sec</option>
    <option value="15 sec">15 sec</option>
    <option value="20 sec">20 sec</option>
    <option value="30 sec">30 sec</option>
    <option value="1 min">1 min</option>
    <option value="2 min">2 min</option>

  </select>
  <input type="text" id="topic" name="topic" placeholder="Enter topic">
  <label for="timelimit">Timelimit for each question (in min)</label>
  <input type="number" id="timelimit" name="timelimit" min="1" max="5">
  <button type="submit">Submit</button>
  <submit></submit>
</form>
<button data-hx-post="/bw/jroom">Join room</button>

{{ end }}
