<!DOCTYPE html>
<html>

<head>
  <title>{{ .title }}</title>
  <script src="https://cdn.tailwindcss.com"></script>
  <script src="/assets/ext/htmx.min.js"></script>
  <script src="/assets/js/brainwars.js"></script>
  <script src="/assets/js/modal.js"></script>
  <script src="/assets/js/copy.js"></script>

  <script>
    tailwind.config = {
      theme: {
        extend: {
          colors: {
            primary: {
              50: '#e6f0ff',
              100: '#cce0ff',
              200: '#99c2ff',
              300: '#66a3ff',
              400: '#3385ff',
              500: '#0066ff',
              600: '#0052cc',
              700: '#003d99',
              800: '#002966',
              900: '#001433',
            }
          }
        }
      }
    }
  </script>
</head>

<body>
  <div id="outer-page-content" class="bg-gray-50 h-screen flex overflow-hidden"
    data-hx-headers='{"X-XSRF-TOKEN":"{{ .CsrfToken }}"}'>
    {{ template "content" . }}
  </div>
</body>

</html>
