@import "tailwindcss";

@theme {
  --color-primary-50: #e6f0ff;
  --color-primary-100: #cce0ff;
  --color-primary-200: #99c2ff;
  --color-primary-300: #66a3ff;
  --color-primary-400: #3385ff;
  --color-primary-500: #0066ff;
  --color-primary-600: #0052cc;
  --color-primary-700: #003d99;
  --color-primary-800: #002966;
  --color-primary-900: #001433;
}
